.overview {
    margin-top: var(--top-menu-height);
}

.metric-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 50px;
}

.ids-metric-card {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 8px 24px var(--shadow-darker);
    text-decoration: none;
    padding: 30px;
    border: 1px solid var(--shadow-light);
    transition: border .3s, transform .3s, box-shadow .3s;
    position: relative;
    overflow: hidden;
    background: color-mix(in srgb, var(--theme-color) 1.5%, white);
}

.ids-metric-card::after {
    display: block;
    content: "";
    background-color: var(--theme-color);
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    transition: opacity .3s;
}

.ids-metric-card:hover {
    border: 1px solid var(--theme-color);
    transform: translateY(-10px);
    box-shadow: 0 20px 60px var(--shadow-darker);
}
.ids-metric-card:hover::after {
    opacity: 1;
}

.section-top {
    display: flex;
    height: 45px;
}

.pill {
    min-width: 100px;
    max-width: 150px;
    font-size: .8em;
    font-weight: bold;
    margin-left: 0;
}

.icon {
    --size: 45px;
    height: var(--size);
    width: var(--size);
    margin-left: auto;
    margin-right: 0;
    border-radius: 13px;
    color: white;
    background: linear-gradient(var(--theme-color), color-mix(in srgb, var(--theme-color) 75%, white));
    display: flex;
    box-shadow: 0 8px 24px var(--shadow-darker);
}

.icon > * {
    --size: 60%;

    margin: auto;
    width: var(--size);
    height: var(--size);
}

.metric {
    font-size: 2.5rem;
    font-weight: 800;
    height: 85px;
    color: black;
    align-content: center;
    text-align: left;
}

.sub-metrics {
    height: 80px;
    padding: 10px 0px;
    border-top: 1px solid var(--shadow-medium);
    display: flex;
}

.sub-metrics > .item {
    height: 100%;
    margin: auto;
    margin-left: 0;
}

.sub-metrics > .item > .value {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 7px;
    color: black;
}

.sub-metrics > .item > .label {
    font-size: 0.8em;
    color: gray;
}