.settings {
    --elem-width: 800px;
}

.input-elem {
    width: 100%;
    --input-width: 100%;
}
.input-elem:not(:last-child) {
    margin-bottom: 20px;
}

.block {
    width: var(--elem-width);
    margin-top: 30px;
}

.buttons-list {
    width: var(--elem-width);
    border-top: 1px solid var(--shadow-dark);
    padding-top: 20px;
}

.buttons-list > .button {
    font-size: .8em;
}