.block {
    border-radius: 13px;
    border: 1px solid var(--shadow-light);
    box-shadow: 0 10px 20px var(--shadow-light);
    padding: 20px;
    background-color: white;
    width: fit-content;
}

.block > .header {
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--shadow-dark);
}

.block > .header.horizontal {
    display: flex;
    align-items: center;
}

.block > .header.plain {
    padding: unset;
    border: unset;
}

.block > .header > .title {
    color: var(--text-dark);
    font-size: 1.1em;
    font-weight: bold;
}

.block > .header > .sub-title {
    color: gray;
    font-size: .9em;
    margin-top: 10px;
}

.block > .header.horizontal > .sub-title {
    margin-left: auto;
    margin-right: 0;
    margin-top: unset;
}

.block.fw {
    width: 100%;
}

.block.table {
    margin: 20px 0px;
    overflow-x: auto;
}

.block.table .empty-text {
    width: 100%;
    height: 100px;
    text-align: center;
    color: rgb(175, 175, 175);
    align-content: center;
    border-bottom: 1px solid var(--border-light);
    font-style: italic;
    font-size: .9em;
}

.block.table.themed {
    border: 1px solid var(--theme-color);
    box-shadow: 0 5px 20px color-mix(in srgb, var(--theme-color) 15%, white);
}

.basic-btn {
    width: fit-content;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    transition: background-color .3s, border-color .3s, color .3s;
    --icon-size: 20px;
    text-decoration: none;
}

.basic-btn:focus {
    outline: none;
}

.basic-btn.theme {
    color: white;
    background-color: var(--theme-color);
}
.basic-btn.theme:hover {
    background-color: color-mix(in srgb, var(--theme-color) 95%, black);
}

.basic-btn.primary {
    color: white;
    background-color: var(--ardc-purple);
}
.basic-btn.primary:hover {
    background-color: #7c3aed;
}

.basic-btn.secondary {
    border-width: 1px;
    border-style: solid;
    background-color: var(--bg-lighter);
    color: var(--text-medium);
}
.basic-btn.secondary:hover {
    background-color: var(--bg-lightest);
    color: var(--text-dark);
}
.basic-btn.disabled,
.basic-btn.disabled:hover  {
    border-width: 1px;
    border-style: solid;
    background-color: lightgray;
    color: var(--text-dark);
    cursor: not-allowed !important;
}


.basic-btn > * {
    margin: auto;
}
.basic-btn > svg {
    width: var(--icon-size);
    height: var(--icon-size);
}

.block.simple-card {
    min-width: 200px;
    width: 200px;
    min-height: 100px;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    transition: transform .2s;
}

.block.simple-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px var(--shadow-dark);
}

.block.simple-card > .icon {
    --size: 45px;
    width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    border-radius: 13px;
    flex-shrink: 0;
}

.block.simple-card > .icon > * {
    --size: 50%;
    width: var(--size);
    height: var(--size);
    margin: auto;
}

.block.simple-card .title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 7px;
}

.block.simple-card .sub-title {
    font-size: .9em;
    color: gray;
}

.tab {
    padding: 10px 20px;
}
.tab.secondary {
    background-color: transparent;
    border: none;
}

.block.search-bar {
    display: flex;
    align-items: center;
    padding: 20px;
    height: fit-content;
    gap: 20px;
    margin: 20px 0px;
}

.block.search-bar > * {
    margin: auto 0;
}

.block.search-bar .basic-input {
    --input-width: 300px;
}

.block.search-bar .filters {
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--border-lighter);
    border-radius: 8px;
    font-size: 0.875rem;
    background: white;
    cursor: pointer;
}

.block.search-bar .add-new-btn {
    margin-left: auto;
    font-size: .9em;
    --icon-size: 15px;
}

.pill-tag {
    --theme-color-dark: color-mix(in srgb, var(--theme-color) 90%, black);
    --theme-color-light: color-mix(in srgb, var(--theme-color) 20%, white);
    --theme-color-lighter: color-mix(in srgb, var(--theme-color) 10%, white);

    width: fit-content;
    min-width: 70px;
    height: fit-content;
    text-align: center;
    padding: 7px 10px;
    border-radius: 20px;
    color: var(--theme-color-dark);
    background: linear-gradient(var(--theme-color-light), var(--theme-color-lighter));
    box-shadow: 0 2px 8px var(--shadow-dark);
}

.basic-input {
    width: fit-content;
    height: fit-content;
    --input-height: 35px;
    /* --input-width: 200px; */
}

.basic-input > .label {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-dark);
}

.basic-input > .description {
    margin-top: 10px;
    font-size: .9em;
    color: var(--text-medium);
}

.input-wrapper {
    height: var(--input-height);
    width: var(--input-width);
    border: 1px solid lightgray;
    transition: border-color .3s;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.input-wrapper:focus-within {
    border-color: var(--ardc-purple);
}

.input-wrapper > .icon {
    width: var(--input-height);
    height: var(--input-height);
    display: flex;
    align-items: center;
    color: var(--text-dark);
    flex-shrink: none;
    margin: auto;
    position: relative;
}

.input-wrapper > .icon::after {
    content: "";
    height: calc(var(--input-height) * 0.6);
    position: absolute;
    width: 1px;
    background-color: var(--overlay-light);
    right: 0;
    top: calc(var(--input-height) * 0.2);
}

.input-wrapper > .icon > svg {
    --input-size: 50%;
    width: var(--input-size);
    height: var(--input-size);
    margin: auto;
}

.input-wrapper > :last-child {
    flex: 1;
    height: 100%;
    border: none;
    font-size: .875rem;
    padding: 0 10px;
    outline: none;
}

.file-input {
    --input-height: fit-content;
}

.file-input-wrapper {
    position: relative;
    padding: unset !important;
}

.file-input-wrapper > input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.table-actions svg {
    --icon-size: 18px;
    transition: color .3s;
    color: var(--text-light);
    width: var(--icon-size);
    height: var(--icon-size);
}

.table-actions svg:hover {
    cursor: pointer;
    color: var(--ardc-purple);
}

.collapsible .summary {
    color: var(--text-dark);
    width: fit-content;
}